{% extends "layout.html"%}

{% block title %}Home{% endblock %}

{% block content %}
{%for t in tutoriales%}
<div class="card" style="width: 18rem;">
    <img src="../static/images/image.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">{{ t.nombre_tutorial_lac }}</h5>
        <p class="card-text">{{ t.descripcion_tutorial_lac }}</p>
        <a href="{% url 'mainapp:detail' t.id%}" class="btn btn-primary">Ver</a>
    </div>
</div>
{% endfor %}
{% endblock %}