<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}

<body>
    <br>
    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hola, UTTT!</h1>
                <p class="lead">Este sitio es creado para la elaboracion de una practica en la materia de Topicos selectos de TI. <br> Es un sitio
                    desarrollado
                    en python con ayuda del framework de Django</p>
                <hr class="my-4">
                <p>Descripcion del contenido.</p>
                <a class="btn btn-primary btn-lg" href="homepage/" role="button">Entrar</a>
            </div>
        </div>
    </div>
</body>
{% include "includes/scripts.html" %}

</html>